<launch>

  <!--- Run usb_cam -->
  <include file="$(find ur3_commander)/launch/usb_cam-test.launch" />

  <!--- Run ar_track_alvar -->
  <include file="$(find ur3_commander)/launch/pr2_indiv_no_kinect.launch" />

  <!-- Run Computer Vision node -->
  <node pkg="ur3_commander" type="getArPos.py" name="getArPos" output="screen" />

  <!-- Run Moveit node -->
  <node pkg="ur3_commander" type="move2pos.py" name="move2pos" output="screen" />

</launch>
